/* Formatting */

body {
	color: #67847C;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    margin-left: 20px;
}

#blurb {
	color: #94A6A2;
}

p.blurb {
    margin-right: 1090px;
}

/* Link opacity */

a.text, img.link {
	opacity: 1.0;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}

a.text:hover, img.link:hover {
	opacity: 0.5;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

/* Link formatting */

a:link {
	color: #73817E;
	font-weight: 550;
	text-decoration: none;
}

a:visited {
	color: #73817E;
}
