body {
	color: #67847C;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    margin: 20px;
}

#blurb {
	color: #94A6A2;
}

a:link {
	color: #73817E;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: #73817E;
}

a:hover {
	color: #94BFB4;
}

a:active {
	color: #94BFB4;
}